{:deps {:aliases [:ui]}

 :dev-http {8000 "out/ui"}

 :builds {:ui
          {:target :browser
           :output-dir "out/ui"
           :asset-path "./ui"

           :modules
           {:main {:init-fn lingonberry-app.ui-main/-main}}}}}