{:paths ["./src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.3.618"}}

 :aliases
 {:repl {:extra-deps {Ripley/Ripley {:git/url "https://github.com/Empire-Strikes-Back/Ripley"
                                     :sha "becd2573ab55d42933134d346bc46cdd8fa08c04"}}}

  :uberjar {:extra-deps {Genie/Genie {:git/url "https://github.com/Empire-Strikes-Back/Genie"
                                      :sha "fe9200d223e3a5c79e88dfa17bc2697c09dae70e"}}}

  :identicon {:extra-deps {Zazu/Zazu {:git/url "https://github.com/Empire-Strikes-Back/Zazu"
                                      :sha "063ef7649c01284be8f5a1e9814d5bf83025ad76"}}}}}
